 <%= turbo_frame_tag "room_#{room.id}" do%> 
    <div class="text-white font-semibold ">
    <%= link_to room_path(room), class:'font-semibold text-white text-sm', data: { turbo_frame: 'rooms_controller' } do %>
    <%= room.name%>
    <%end%>
    <%  if current_user && current_user&.admin?  %>
    <%= link_to 'Editar ', edit_room_path(room)%>
    <%end%>
    </div>
<%end%>
