.img-report {
    max-width:150px;
    width: 100%;
    height: auto;
} 

.dataTables_filter input {
    border: 1px solid #ccc; /* Añade un borde sólido para que se distinga */
    padding: 8px 10px; /* Añade algo de padding para hacerlo más grande */
    margin: 5px; /* Espacio alrededor del input */
    width: 70%; /* Controla el ancho del input de búsqueda */
    transition: all 0.3s; /* Efecto de transición suave para los cambios de estilo */
  }
  
  .dataTables_filter input:focus {
    border-color: #66afe9; /* Cambia el color del borde al enfocarse */
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); /* Sombra suave alrededor del input cuando está enfocado */
  }

#datatable {
  width: 100%;
  border-collapse: separate; /* Cambia collapse por separate para que los bordes no se fusionen */
  border-spacing: 0; /* Elimina cualquier espacio entre bordes */
}

#datatable th, #datatable td {
  padding: 12px; /* Aumenta el padding para más espacio alrededor del texto */
  text-align: left;
  border-bottom: 1px solid #e0e0e0; /* Color más suave para el borde */
  border-right: 1px solid #e0e0e0; /* Añade un borde derecho a cada celda */
}

#datatable th {
  font-size: 12px;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #f0f0f0; /* Color de fondo más oscuro para el encabezado */
  border-top: 1px solid #e0e0e0; /* Añade borde superior al encabezado */
  font-weight: bold; /* Hace el texto del encabezado más grueso */
}

#datatable tbody tr:last-child td {
  border-bottom: none; /* Elimina el borde inferior del último row para evitar bordes dobles */
}

#datatable thead th:last-child,
#datatable tbody td:last-child {
  border-right: none; /* Elimina el borde derecho de la última columna */
}