/* Estilos para el contenedor de la Room */
.room-container {
    padding: 1rem;
    background-color: #2d3748; /* Un tono de gris para el fondo */
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }
  
  /* Indicador de estado */
  .status-indicator {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }
  
  /* Enlace de edición */
  .edit-link {
    color: #63b3ed; /* Color azul claro */
    font-size: 0.875rem; /* Texto pequeño */
    text-decoration: none;
  }
  
  .edit-link:hover {
    color: #4299e1; /* Azul más oscuro al pasar el cursor */
  }

  .footer {
    background-color: #1A202C;
    width: 100%; /* Resta el ancho de los sidebars izquierdo y derecho */
    margin-left: 15rem; /* Desplaza el footer para alinearlo con el contenido principal */
  }
  
  .chart-container {
    background-color: #2B2F4A;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
  }