<%= stylesheet_link_tag 'reports', media: 'all', 'data-turbo-track': 'reload' %>

<div class="min-h-screen flex flex-col items-center justify-center bg-white" >
  <div class="flex-grow">
    <h1 class="text-center p-10">Informe de Eficiencia de Trabajadores</h1>
    <table  id="datatable"  class="display" data-controller='datatables'>
      <thead>
        <tr>
          <th>Trabajador o Trabajadora</th>
          <th>Tareas Completadas</th>
          <th>Tiempo Promedio de Resolución (horas)</th>
          <th>Porcentaje de Cumplimiento de Plazos</th>
          <th>Tareas Fuera del Tiempo</th>
          <th>Porcentaje de Tareas Fuera de Tiempo</th>
        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
  </div>

  <footer class="w-full bg-gray-800 text-white py-4">
    <%= render 'shared/footer' %>
  </footer>
</div>

